<ion-header-bar class="bar-positive">
</ion-header-bar>
<ion-view view-title="details">
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap" ng-repeat="place in places | filter: { id: whichplace }">
        <img ng-src="img/{{place.id}}.png" alt="{{place.name}} Photo">
        <h1>{{place.name}}</h1>
        <p>Current wait time estimation: {{place.waitTime}} minutes</p>
        </br>

        <h2>{{place.address.line1}}</h2>
        <h2>{{place.address.city}}, {{place.address.state}} {{place.address.zipcode}}</h2>
        <p>{{place.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
