<ion-view hide-nav-bar="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="splash padding">
    <div class="branding">
      <br/>
      <img src="img/brand_logo.png" style="height: 150px;">
      <h3 style="font-family: Segoe Script; margin-top: 0"><strong>Find your table</strong></h3>
    </div>
  </ion-content>
</ion-view>