<ion-view view-title='<img class="title-image" src="img/brand_logo.png" />'>
  
  <ion-nav-buttons side="secondary">
     <label class="toggle toggle-calm">
       <input type="checkbox" ng-model="data.filter">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>
  
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    
    <ion-list show-reorder="data.showReorder">

      <ion-item ng-hide="data.filter&&!place.star" ng-class="{'star' : place.star}" ng-repeat="place in places | filter:query" 
        class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{place.id}}">
        <img ng-src="img/{{place.id}}.png" alt="{{place.name}} Photo">
        <h2>{{place.name}}: {{place.priceRange}}</h2>
        <div ng-show="place.star">{{place.waitTime}}</div>
        <div ng-hide="place.star">Estimated wait time: {{place.waitTime}} Min</div>
        <div>{{place.address.line1 }}, {{place.address.zipcode }}</div>
          
        <button class="button button-clear icon ion-android-checkmark-circle button-balanced" ng-click="toggleStar(place)" ng-show="place.star">
        </button>

        <ion-option-button ng-if="place.mobileCheckIn" class="button-dark" ng-click="toggleStar(place)">
          <div ng-if="!place.star"> <i class="icon ion-ios-plus-outline"></i> </div>

          <div ng-if="place.star"> <i class="icon ion-ios-minus-outline"></i> </div>
        </ion-option-button>

        <ion-option-button ng-if="!place.mobileCheckIn" class="button-dark">Come See Us!</ion-option-button>

        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(place, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
