<ion-modal-view >
  <ion-header-bar class="bar-positive">
    <h1 class="title">create.list</h1>
    <div class="buttons">
      <button class="button button-clear button-calm" ng-click="closeLogin()">close</button>
    </div>
  </ion-header-bar>
  <ion-content class="splash padding">
    <div class="branding">
      <img src="img/brand_logo.png">
    </div>
    <form ng-submit="doLogin()">
      <div class="transparent" >
        <label class="item item-input login-form">
          <input type="text" ng-model="loginData.name" placeholder="name">
        </label>
        <label class="item item-input login-form">
          <input type="text" ng-model="loginData.phone" placeholder="phone number">
        </label>
        <!-- <label class="item"> -->
        <button class="button button-block button-calm login-form" type="submit">create</button>
        <!-- </label> -->
      </div>
    </form>
  </ion-content>
</ion-modal-view>
