<ion-modal-view >
  <ion-header-bar class="bar-positive">
    <h1 class="title">your.table</h1>
  </ion-header-bar>
  <ion-content class="splash padding">

    <div class="branding">
      <img src="img/spork.png">
    </div>
    
      <ion-list>
        <ion-item ng-repeat="notification in notifications" class="item-thumbnail-left">
          <img ng-src="img/{{notification.restaurantId}}.png" alt="{{notification.restaurantId}} Photo">
          <div class="buttons row">

            <button class="button button-calm col" ng-click="acceptTable(notification.reservationId)">Accept</button>

            <button class="button button-assertive col" ng-click="declineTable(notification.reservationId)">Decline</button>
          </div>
        </ion-item>
      </ion-list>

  </ion-content>
</ion-modal-view>
