<ion-tabs class="tabs-icon-top tabs-positive" ng-controller="AppCtrl">
  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Create List" icon="ion-ionic"  ng-click="login()">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
