
/*hack*/
.nav-bar-tabs-top.hide + .view-container > .tabs-top > .tabs, .tabs.tabs-top {
  top: 0 !important; 
}

/*hack*/
.nav-bar-tabs-top.hide + .view-container > .tabs-top > .tab-content .pane .has-tabs-top {
  top: 49px !important;
}


.toggle.toggle-calm input:checked + .track {
  background-color: rgb(141, 71, 24);
  border-color: rgb(141, 71, 24);
}


.title-image {
    margin-top: 2px;
    height: 40px;
}

.star .item-content {
  
  background-color: #EEE8D6 !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2ab0ed), color-stop(25%,#9fd8ef), color-stop(72%,#bfe8f9), color-stop(100%,#e4f5fc)); /* Chrome,Safari4+ */
}

.splash {
  background: url(../img/mesa.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.star .item-content > p {
  color: white;
}

.branding {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.tagline {
  font-size: 1.4rem;
}

.branding p {
  margin-top: 10px;
  font-size: 1rem;
}

.item-divider {
  background-color: #EEE8D6;
}

.bar-positive, .bar.bar-positive, .bar.bar-positive .title, .tabs-positive>.tabs {
  background-color: #ecddbb !important;
  border-color:  rgb(141, 71, 24);
  color: rgb(141, 71, 24);
}

.bar-positive .button.button-clear {
  color: rgb(141, 71, 24);
}

.item-thumbnail-left img {
  border-radius: 10px;
}

.item-text-wrap img {
  border-radius: 10px;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #417D9A;
}

.dayhighlight {
  background-color: #9EC6DE;
  border-top: 20px solid #417D9A;
}

.dayhighlight h2 {
  color: #417D9A;
  font-size: 2rem;
  font-weight: 200;
}

.login-form {
  border-color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: transparent;
}

.login-form > input{
  font-size: large;
  color: white;
}

.transparent {
  background:#7f7f7f;
  background:rgba(0,0,0,0.75);
  padding: 20px 20px 10px 20px;
  margin:20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }
 
 .spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}
/*ion-item.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
*/